{% import "searches.html" as searches %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block title %}
  Themen-Abo
{% endblock %}

{% block script %}

{% endblock %}


{% block content %}
  <h2 class="page-header">Benachrichtigungen per E-Mail erhalten</h2>
  <div class="row">
    <div class="span8">
      <form class="form-horizontal" method="POST">
        <div class="control-group">
          <label class="control-label" for="query">Suchbegriff:</label>
          <div class="controls">
            <input type="text" class="span5" name="query" value="{{ fields['query'] }}" >
            {% if errors['query'] %}
              <p class="error-message">{{ errors['query'] }}</p>
            {% endif %}
            <span class="help-block">
              Möglich sind auch Verknüpfungen (<code>OR</code>), Alternativen 
              (<code>AND</code>) und Verbote (<code>-"FDP"</code>).
            </span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">E-Mail:</label>
          <div class="controls">
            <input type="text" class="span5" name="email"
              value="{{ fields['email'] }}" placeholder="meine@email.de">
            {% if errors['email'] %}
              <p class="error-message">{{ errors['email'] }}</p>
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox" for="include_activity">
              <input name="include_activity" type="checkbox" value="true"
                {% if fields['include_activity'] %}checked="checked"{% endif %}
                >
              Abläufe &amp; Dokumente</label>
            <span class="help-block">
              Durchsucht werden die Metadaten von Parlamentsvorgängen wie 
              Gesetzesvorhaben, Anfragen etc.
            </span>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox" for="include_speeches">
              <input name="include_speeches" type="checkbox" value="true"
                {% if fields['include_speeches'] %}checked="checked"{% endif %}
                >
              Reden im Plenum</label>
            <span class="help-block">
              Reden im Plenum, sowie Debattenthemen.
            </span>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">          
            <input class="btn" value="abonnieren" type="submit">
          </div>
        </div>
      </form>
    </div>
    <div class="span4">
      <p>
      OffenesParlament beobachtet laufend die Aktivitäten des Bundestags
      und kann Sie per E-Mail in regelmäßigen Abständen über Vorgänge
      und Debatten zu bestimmten Themen benachrichtigen.
      </p>
      <p>
      So können Sie nicht nur die Entwicklung eines bestimmten Gesetzes 
      oder das Ergebnise einer Anfrage mitverfolgen, sondern auch 
      langfristig über Themen und Akteure im Bild bleiben.
      </p>
      <p>
      Geben Sie dazu einfach ein Suchwort ein und wählen Sie, ob Sie 
      über Dokumente, Plenardebatten oder alle Inhalte 
      benachrichtigt werden wollen. Das Abo kann natürlich jederzeit 
      beendet werden.
      </p>
    </div>
  </div>
{% endblock %}


