{% import "searches.html" as macros %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block title %}
  {{ searcher.q or 'Alle Sitzungen' }} - Sitzungen
{% endblock %}

{% block content %}
  <h2 class="page-header">Sitzungen des Bundestags</h2>

  <div class="row">
    <div class="span2">
      <h3>Suche</h3>
    </div>
    <div class="span10 padded-suche">
      {{ macros.search(searcher, pager, show_filters=searcher.has_query) }}
      <p class="hint">
        Durchsuche die Redetexte von Abgeordneten und Regierungsmitgliedern
        nach bestimmten Begriffen.
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span2 sitzung-list">
      <h3>Protokolle</h3>
    </div>
    <div class="span10">
      <div class="row">
        {% for sitzung in sitzungen %}
          <div class="span5 sitzung-list">
            <h3><a href="{{ url_for('sitzung.view',
                wahlperiode=sitzung.wahlperiode,
                nummer=sitzung.nummer) }}">{{sitzung.titel}}</a></h3>
            <p class="top">
              {% for debatte in sitzung.debatten %}
              <a href="{{url_for('debatte.view',
                wahlperiode=sitzung.wahlperiode,
                nummer=sitzung.nummer,
                debatte=debatte.nummer)}}">{{debatte.titel}}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </p>
          </div>
          {% if loop.index % 2 == 0 %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}



