{% import "searches.html" as macros %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block title %}
  {{ searcher.q or 'Alle Sitzungen' }} - Sitzungen
{% endblock %}

{% block content %}
  <div class="banner sitzungen">
    <h1>Sitzungen des Bundestags</h1>
  </div>

  <div class="row">
    <div class="span9">
      {{ macros.search(searcher, pager) }}
    </div>
    <div class="span3">
      {{ snippets.abo_link(searcher.full_query) }}
    </div>
  </div>
    
    <div class="">
    
      <ul class="result-list sitzung">
      {% for sitzung in pager %}
      <div class="{{ loop.cycle('lleftbar', 'lrightbar') }}">
        {{ snippets.sitzung_list_inner(sitzung) }}
      </div>
      {% if loop.index % 2 == 0 %}
        <div class="clearfix"></div>
      {% endif %}
      {% endfor %}
      </ul>
      {{ macros.pager(pager) }}
    </div>
  </div>
{% endblock %}



