{% import "searches.html" as macros %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block title %}
  {{ searcher.q }} - Sitzungen
{% endblock %}

{% block content %}
  <h2 class="page-header">Plenarreden-Suche: {{searcher.q}}</h2>

  <div class="row">
    <div class="span9">
      {{ macros.search(searcher, pager, show_filters=searcher.has_query) }}
    </div>
    <div class="span3">
      {{ snippets.abo_link(searcher.full_query) }}
    </div>
  </div>

  <div class="row">
    <div class="span8">
      <ul class="result-list person">
      {% for rede in pager %}
      <li>
        <h3>
          <a href="{{ url_for('rede.view', 
            wahlperiode=rede.sitzung.wahlperiode,
            nummer=rede.sitzung.nummer,
            webtv_id=rede.webtv_id) }}">{{
            rede.titel }}</a>
        </h3>
        <p>
          {{ rede.text | truncate(200) }} 
        </p>
      </li>
      {% endfor %}
      </ul>
      {{ macros.pager(pager) }}
    </div>
    <div class="span4">
      {{ macros.facet_list(searcher, pager, 'zitate.person.name',
      title='Redner') }}
      {{ macros.facet_list(searcher, pager, 'debatte.siztung.titel',
      title='Sitzung') }}
    </div>
  </div>
{% endblock %}



