{% import "searches.html" as macros %}
{% extends "layout.html" %}

{% block title %}
  {{ sitzung.titel }} - Sitzungen
{% endblock %}

{% block content %}
  <h2 class="page-header">{{ sitzung.titel }}</h2>
  <ul class="result-list">
  {% for debatte in sitzung.debatten %}
    <li>
        <h3><a href="{{ url_for('debatte.view',
            wahlperiode=sitzung.wahlperiode,
            nummer=sitzung.nummer,
            debatte=debatte.nummer) }}">{{ debatte.titel }}</a></h3>
        <p>{{ debatte.text }}</p>
        <p>
          Redner: 
          {% for rede in debatte.reden %}
            <a href="{{url_for('rede.view', wahlperiode=sitzung.wahlperiode,
                           nummer=sitzung.nummer,
                           webtv_id=rede.webtv_id)}}">{{rede.redner.name}}</a>{% if not loop.last %},{% endif %}    
          {% endfor %}
        </p>
    </li>
  {% endfor %}
  </ul>
{% endblock %}

