{% import "searches.html" as macros %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block title %}
  {{ person.name }}
{% endblock %}

{% block description %}
  {{ (person.bio or "") | striptags | truncate(150) }}
{% endblock %}

{% block content %}
  <br/>
  <div class="pull-right">
    {{ snippets.abo_link(person.fingerprint.strip()) }}
  </div>
  <h2 class="page-header">
    {{ person.name }}
    {% if person.partei %}
      ({{ person.partei }})
    {% endif %}
  </h2>
  <div class="row">
    <div class="span2">
      {% if person.foto_url %}
        <div class="person-foto">
          <img src="{{ person.foto_url }}">
          <p>{{ person.foto_copyright }}</p>
        </div>
      {% endif %}
    </div>

    <div class="span10">
      <ul class="rollen">
        {% for rolle in person.rollen %}
          <li><strong>{{ rolle.funktion }}</strong>
            {% if rolle.wahlkreis %}
            &mdash; {{rolle.wahlkreis.name}} (Wahlkreis {{rolle.wahlkreis.nummer}})
            {% endif %}  
            {% if rolle.ressort %}
              &mdash; {{rolle.ressort}}
            {% endif %}  
            {% if rolle.land %}
              &mdash; {{rolle.land}}
              {% endif %}  
            <sup><a href="{{ url_for('page', path='rollen')
                }}">falsch?</a></sup>
          </li>
        {% endfor %}
      </ul>
      {% if person.bio %}
      <hr>
      <strong>Lebenslauf:</strong>
      <span class="bio-teaser">{{person.bio | striptags |
        truncate(200) }} <a>Mehr...</a></span>
      <span class="bio-fulltext">
        {{person.bio | safe}}
      </span>
      {% endif %}
      <hr>
      <div>  
      <strong>Themen:</strong>
      {% for sw in schlagworte %}
        <a href="{{ url_for('ablauf.index', schlagworte=sw['schlagwort']) }}">
        {{sw['schlagwort']}}</a> 
        <span class="facet-count">({{sw['num']}})</span>{% if not loop.last %},{% endif %}
      {% endfor %}
      </div>
      {% if person.has_gremien %}
        <hr/>
        <strong>Ausschüsse und Gremien:</strong>
        {% for gremium, rolle in person.gremien %}
          {{gremium.name}} ({{rolle}}){% if not loop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <hr>

  {% if person.reden.count() %}
  <div class="row">
    <div class="span2 sitzung-list">
      <h3>Reden</h3>
    </div>
    <div class="span10 sitzung-list">
      <div class="row">
        {% for rede in person.reden %}
          <div class="span5">
            <h3><a href="{{ url_for('rede.view',
                wahlperiode=rede.sitzung.wahlperiode,
                nummer=rede.sitzung.nummer,
                webtv_id=rede.webtv_id) }}">{{ rede.debatte.titel }}</a></h3>
            <p class="top">{{ rede.debatte.text | truncate(200) }}</p>
          </div>
          {% if loop.index % 2 == 0 %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>
  {% endif %}

  <div class="row">
    <div class="span2 sitzung-list">
      <h3>Arbeit</h3>
    </div>
    <div class="span10 sitzung-list">
      {% if not pager.count() %}
        <p class="hint">
          Zu diesem Akteur liegen keine parlamentarischen Abläufe vor.
        </p>
      {% endif %}
      <ul>
        {% for position in pager %}
          <li>
            <h3 class="title"><a href="{{ url_for('ablauf.view',
                                    wahlperiode=position.ablauf.wahlperiode,
                                    key=position.ablauf.key) }}#{{position.key}}">
                {{position.ablauf.titel}}</a></h3>
            <p class="top">
              <span class="typ">{{position.typ}}</span>
              (<span class="zuordnung">{{position.zuordnung}}</span>)
              am
              <span class="date">{{position.date.strftime("%d.%m.%Y")}}</span>
            </p>
          </li>
        {% endfor %}
      </ul>
      {{ macros.pager(pager) }}
    </div>
  </div>
  <!--
       <ul> 
        {% if person.awatch_url %}
          <li class='awatch-link'><a href="{{ person.awatch_url }}">
            <img  src="/static/img/awatch_small.png"> Abgeordnetenwatch</a></li>
        {% endif %}
        {% if person.beruf %}
          <li>Beruf: {{ person.beruf }}</li>
        {% endif %}
        {% if person.homepage_url %}
          <li><a href="{{ person.homepage_url }}">Homepage</a></li>
        {% endif %}
        {% if person.twitter_url %}
          <li><a href="{{ person.twitter_url }}">Twitter</a></li>
        {% endif %}
        {% if person.facebook_url %}
          <li><a href="{{ person.facebook_url }}">Facebook</a></li>
        {% endif %}
        {% if person.bio_url %}
          <li><a href="{{ person.bio_url }}">Bundestag</a></li>
        {% endif %}
        {% if person.stimmen[0] %}
          <li><strong><a href="{{ url_for('person.votes', slug=person.slug)
              }}">Abstimmungsverhalten</a></strong></li>
        {% endif %}
      </ul>
  -->
  <hr/>
  <p class="hint"><strong>Hinweis:</strong> Die vom Bundestag bereit gestellten Informationen zu
  den Nebeneinkünften Abgeordneter geben <a
    href="http://blog.abgeordnetenwatch.de/2011/06/07/union-und-fdp-kein-bedarf-an-kompletter-offenlegung-von-nebeneinkunften/">keinen
    klaren Aufschluss</a> über
  das zusätzliche Einkommen und werden daher auf dieser Seite nicht dargestellt.</p>
{% endblock %}


