{% import "debatte/zitate.html" as zitate %}
{% extends "layout.html" %}

{% block title %}
  {{ debatte.titel }}
{% endblock %}

{% block description %}
  {{ debatte.text | striptags | truncate(150) }}
{% endblock %}

{% block content %}
    <h2 class="page-header">{{debatte.titel}}</h2>
    {% for rede in debatte.reden %}
    <a name="rede/{{rede.webtv_id}}"></a>
    <div class="row">
      <div class="span9">
        {{ zitate.render(rede.sitzung, rede, rede.zitate) }}
      </div>
      <div class="span3">
        <ul class="debatte-sidebar">
          <li><i class="icon-facetime-video"></i><a
            href="http://webtv.bundestag.de/player/macros/_v_f_514_de/od_player.html?singleton=true&content={{rede.webtv_id}}">Videostream</a></li>
          <li><i class="icon-circle-arrow-left"></i> <a
            href="{{url_for('sitzung.view',
            wahlperiode=rede.sitzung.wahlperiode,
            nummer=rede.sitzung.nummer)}}">{{rede.sitzung.titel}}</a></li>
        </ul>
      </div>
    </div>
    <hr>
  {% endfor %}
{% endblock %}

{% block script %}
  <script src="http://assets.pudo.org/libs/hyphenator-4.1.0/hyphenator.js" type="text/javascript">
  </script>
  <script type="text/javascript">
            Hyphenator.run();
  </script>
{% endblock %}




