{% import "searches.html" as macros %}

{% macro render(sitzung, rede, zitate) %}
  <table class="result-list zitate">
  {% for zitat in zitate %}
    <tr class="{{ zitat.typ }}">
      <td class="speaker" width="30%">
        {% if zitat.person %}
        <a href="{{ url_for('person.view', slug=zitat.person.slug) }}">{{
          zitat.person.name }}</a>
        {% elif zitat.sprecher %}
          {{ zitat.sprecher }}
        {% endif %}
        {% if zitat.typ == 'chair' %}
          <div class="meta">Sitzungsleitung</div>
        {% elif zitat.typ == 'speech' %}
          {% if zitat.person %}
            <div class="meta">{{ zitat.person.partei or
              zitat.person.rollen[0].ressort }}</div>
          {% endif %}
        {% endif %}
        </td>
      <td class="text hyphenate">
        {{ zitat.text | replace('\n\n', '<hr/>') | drslink(True) }}
      </td>
      <td class="details">
        <a name="z{{zitat.sequenz}}" href="{{url_for('rede.view',
          wahlperiode=sitzung.wahlperiode, nummer=sitzung.nummer,
          webtv_id=rede.webtv_id)}}#z{{zitat.sequenz}}" title="Link zum
          zitieren"><i class="icon-bookmark"></i></a>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endmacro %}

