{% import "searches.html" as macros %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block title %}
  Gesetze, Anfragen und andere Drucksachen
{% endblock %}

{% block content %}
  <!--div class="banner ablaeufe">
    <h1>Abläufe</h1>
    </div-->
  <h2 class="page-header">Gesetze, Anfragen und andere Drucksachen</h2>
  <div class="row">
    <div class="span3">
      <h3>Suche</h3>
    </div>
    <div class="span9 padded-suche">
      {{ macros.search(searcher, pager, show_filters=False) }}
      <p class="hint">
        Finde Ablaufbeschreibungen zu Gesetzgebungsverfahren, Anfragen
        und anderen Vorgängen.
      </p>
    </div>
  </div>
  {% for sachgebiet, sg_ablaeufe in ablaeufe %}
  <hr/>
  <div class="row">
    <div class="span3 sitzung-list">
      <h3>{{sachgebiet}}</h3>
    </div>
    <div class="span9">
      {{ snippets.ablaeufe(sg_ablaeufe) }}
    </div>
  </div>
  {% endfor %}
{% endblock %}

