{% extends "layout.html" %}
{% import "snippets.html" as snippets %}

{% block head %}
{% endblock %}

{% block title %}{{ ablauf.titel }}{% endblock %}

{% block description %}{{ ablauf.abstrakt or ablauf.schlagworte_list }}{% endblock %}

{% block content %}
  <br>
  <div class="pull-right">
    {{ snippets.abo_link("+source_url:" + ablauf.source_url) }}
  </div>
  <div class="clearfix"></div>
  <h2 class="page-header">{{ ablauf.titel }}</h2>

  <div class="row">
    <div class="span5">
      <table id="factsheet">
        <tr>
          <th>Typ:</th>
          <td>{{ ablauf.klasse }} ({{ablauf.typ}})</td>
        </tr>
        <tr>
          <th>Stand:</th>
          <td class="{{ 'abgeschlossen' if ablauf.abgeschlossen else 'laufend' }}">
            {{ ablauf.stand }}
          </td>
        </tr>
        {% if ablauf.initiative %}
          <tr>
            <th>Initiative:</th>
            <td>
              <a href="{{ url_for('ablauf.index',
                initiative=ablauf.initiative)
                }}">{{ablauf.initiative}}</a>
            </td>
          </tr>
        {% endif %}
        {% if ablauf.eu_dok_nr %}
          <tr>
            <th>EU:</th>
            <td>
              <a href="{{ ablauf.eur_lex_url }}">{{ ablauf.eu_dok_nr }}</a>
              (EUR-Lex)
              
            </td>
          </tr>
        {% endif %}
        {% if ablauf.sachgebiet %}
          <tr>
            <th>Sachgebiet:</th>
            <td>
              <a href="{{ url_for('ablauf.index',
                sachgebiet=ablauf.sachgebiet)
                }}">{{ablauf.sachgebiet}}</a>
            </td>
          </tr>
        {% endif %}
        {% if ablauf.schlagworte %}
          <tr>
            <th>Schlagworte:</th>
            <td>
              {% for wort in ablauf.schlagworte %}
              <a href="{{ url_for('ablauf.index', schlagworte=wort.name) }}">
                  {{ wort.name }}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        <tr>
          <th>Dokumente:</th>
          <td>
            <ul class="ablauf-dokumente">
              {% for dokument, seiten in referenzen %}
              <li>
                <a href="{{dokument.link}}">{{ dokument.name }}</a></strong> 
                {{ ", ".join(seiten) }}
              </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
      <p class="hint">Die Daten entstammen dem Dokumentensystem des Bundestags. 
        <a href="{{ ablauf.source_url }}">Quelle</a></p>
    </div>
    <div class="span7">
      {% if ablauf.abstrakt %}
        <p>
          {{ ablauf.abstrakt | breaklines | drslink }}
        </p>
        <hr>
      {% endif %}

      <ul class="position-list">
        {% for position in ablauf.positionen %}
          <li class="position">
            <h3>
              <span class="date">
                {{position.date.strftime("%d.%m.%Y")}}
              </span>
              <a name={{position.key}}></a>
              {{position.typ}}
              <span class="hint">({{position.zuordnung}})</span>
            </h3>
            <div class="beitraege">
              {% for beitrag in position.beitraege %}
                <a href="{{ url_for('person.view', slug=beitrag.person.slug) }}">
                  <img title="{{beitrag.person.name}}: {{beitrag.art}}" class="minipic"
                    src="{{beitrag.person.foto_url or ''}}" height="45px" width="30px"></a>
              {% endfor %}
            </div>
            <div class="details">
              {% if position.zuweisungen.count() %}
                <div class="row listing">
                  <div class="span1 title">Zuweisung:</div>
                  <div class="span6">
                    <ul>
                    {% for zuweisung in position.zuweisungen %}
                      <li>
                        {{ zuweisung.gremium.name }}
                        {% if zuweisung.federfuehrung %}
                          (federführend)
                          {% endif %}
                      </li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
              {% if position.beschluesse.count() %}
                <div class="row listing">
                  <div class="span1 title">Beschluss:</div>
                  <div class="span6">
                    <ul>
                      {% for beschluss in position.beschluesse %}
                        <li>{{beschluss.tenor}}: {{beschluss.dokument_text | drslink}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}

              <p class="source">
                {% if position.quelle %}
                  {{position.quelle}} &middot;
                {% endif %}
                {% if position.dokument %}
                  <a href="{{position.dokument.link}}">{{ position.dokument.name }}</a>
                {% else %}
                  {{position.fundstelle}}
                {% endif %}
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endblock %}


