{% extends "layout.html" %}

{% block title %}
  Speechmatcher
{% endblock %}

{% block content %}
  <style>
    table { font-size: 0.8em; }
    table td, table th { vertical-align: top; padding-left: 1em;
      padding-bottom: 1em; }
    tr.poi { color: #777; }
    tr.chair { color: #700; }
    table select { line-height: 20px; height: 20px; width: 160px; }
    table td span { display: block; margin-bottom: 0.5em; }
    table .non-matching { background-color: #edcdcd; }
    table tr.poi.non-matching { background-color: inherit; }
  </style>

  <h2 class="page-header">// Backend: Speechmatcher</h2>
  <div class="row">
    <div class="span12">
      <table>
        <tr>
          <th width="25%">Sprecher</th>
          <th width="40%">Text</th>
          <th>Debatte</th>
          <th>Rede</th>
        </tr>
        {% for speech in speeches %}
        <tr class="{{speech.type}} sprow"
          data-sequence="{{speech.sequence}}"
          >
          <td>{{speech.speaker or ''}}</td>
          <td width="30%">{{speech.text | replace('\n\n', '<span></span>') |
            safe}}</td>
          {% if speech.type == 'poi' %}
            <td></td><td></td>
          {% else %}
            <td>
              <select class="item"></select>
            </td>
            <td>
              <select class="speech"></select>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
  <script>
  $(function() {
    var align_url = '{{ url_for('backend.speechmatcher_alignment_get',
        wp=wp, session=session, _external=True) }}';
    var previous_alignment = null;
    var agenda = {{agenda | tojson | safe}};
    var items = _.values(_.reduce(agenda, function(m, o) {
        m[o.item_id] = {id: o.item_id, label: o.item_label};
        return m;
      }, {}));
    var speeches = {};
    _.each(agenda, function(a) {
      var html = '<option value="'+a.speech_id+'">'+a.fingerprint+'</option>';
      _.has(speeches, a.item_id) ? speeches[a.item_id] += html : speeches[a.item_id] = html;
    });

    $items = $('.item');
    $allSpeeches = $('.speech');
    //$allSpeeches.bind('change', submitChange);

    _.each(items, function(i) {
      $items.append('<option value="'+i.id+'">'+i.label+'</option>')
    });

    var fillSpeeches = function($el) {
      $speeches = $el.parents('.sprow').find('.speech');
      $speeches.html(speeches[$el.val()]);
      //$speeches.bind('change', submitChange);
      return $speeches;
    };

    var submitChange = function(e) {
      var $speech = $(this);
      var $sprow = $speech.parents('.sprow');
      var item_id = $sprow.find('.item').val();
      if (!item_id) return;
      var data = {
        'sequence': $sprow.data('sequence'),
        'item_id': item_id,
        'speech_id': $speech.val()
      }
      $.ajax({
        'type': 'POST',
        'url': align_url,
        'data': data,
        'success': applyAlignment,
        'dataType': 'json'
      });
    };

    var applyAlignment = function (data) {
      $items.unbind();
      $allSpeeches.unbind();
      console.log(data)
      $('.sprow').each(function(i, row) {
        $row = $(row);
        sequence = $row.data('sequence');
        if (_.has(data.alignment, sequence)) {
          var speech = data.alignment[sequence];
          if (previous_alignment != null &&
              previous_alignment[sequence] &&
              speech.speech_id == previous_alignment[sequence].speech_id) {
             return
          }
          $row.toggleClass('non-matching', !speech.matched);
          $item = $row.find('.item').val(speech.item_id);
          fillSpeeches($item);
          $row.find('.speech').val(speech.speech_id);
        }
      });
      $allSpeeches.bind('change', submitChange);
      $items.bind('change', function(e) {
        fillSpeeches($(this)).trigger('change');
      });
      previous_alignment = data.alignment;
    };
  
    //showSpinner();
    $.getJSON(align_url, {}, applyAlignment);
  });
  </script>
{% endblock %}


