{% import "searches.html" as macros %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block title %}
  {{ searcher.q or 'Alle Abläufe' }} - Abläufe
{% endblock %}

{% block content %}
  <div class="banner ablaeufe">
    <h1>Abläufe</h1>
  </div>
  <div class="box">
    <div class="sidebar">
      {{ snippets.abo_link(searcher.full_query) }}
    </div>
    <div class="mainbar">
      {{ macros.search(searcher, pager) }}
    </div>
    
    <div class="sidebar">
      {% if searcher.has_facet('klasse') %}
        <h3>Typ</h3>
        {{ macros.facet_list(searcher, pager, 'klasse') }}
      {% endif %}
      {% if searcher.has_facet('sachgebiet') %}
        <h3>Sachgebiet</h3>
        {{ macros.facet_list(searcher, pager, 'sachgebiet') }}
      {% endif %}
      {% if searcher.has_facet('schlagworte') %}
        <h3>Schlagworte</h3>
        {{ macros.facet_list(searcher, pager, 'schlagworte') }}
      {% endif %}
      {% if searcher.has_facet('initiative') %}
        <h3>Initiative</h3>
        {{ macros.facet_list(searcher, pager, 'initiative') }}
      {% endif %}
      {% if searcher.has_facet('stand') %}
        <h3>Stand</h3>
        {{ macros.facet_list(searcher, pager, 'stand') }}
      {% endif %}
    </div>
    <div class="mainbar">
      {{ snippets.ablaeufe(pager) }}
      {{ macros.pager(pager) }}
    </div>
  </div>
{% endblock %}



