{% extends "layout.html" %}
{% import "snippets.html" as snippets %}

{% block head %}
{% endblock %}

{% block title %}
  {{ ablauf.titel }}
{% endblock %}

{% block content %}
  {{ snippets.abo_link(ablauf.wahlperiode + "/" + ablauf.key) }}  
  <h1>{{ ablauf.titel }}</h1>
  
  <div class="rightbar">
    <h3>Details</h3>
    <table id="factsheet">
      <tr>
        <th>Typ:</th>
        <td>{{ ablauf.typ }}</td>
      </tr>
      <tr>
        <th>Stand:</th>
        <td class="{{ 'abgeschlossen' if ablauf.abgeschlossen else 'laufend' }}">
          {{ ablauf.stand }}
        </td>
      </tr>
      {% if ablauf.initiative %}
        <tr>
          <th>Initiative:</th>
          <td>{{ ablauf.initiative }}</td>
        </tr>
      {% endif %}
      {% if ablauf.sachgebiet %}
        <tr>
          <th>Sachgebiet:</th>
          <td>{{ ablauf.sachgebiet }}</td>
        </tr>
      {% endif %}
      {% if ablauf.schlagworte %}
        <tr>
          <th>Schlagworte:</th>
          <td>
            {% for wort in ablauf.schlagworte %}
            <a href="{{ url_for('ablaeufe', schlagworte=wort.name) }}">
                {{ wort.name }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endif %}
      {% if ablauf.eu_dok_nr %}
        <tr>
          <th>EU:</th>
          <td>
            <a href="{{ ablauf.eur_lex_url }}">{{ ablauf.eu_dok_nr }}</a>
            (EUR-Lex)
            
          </td>
        </tr>
      {% endif %}
    </table>
    <h3>Dokumente</h3>
    <ul>
      {% for dokument, seiten in referenzen %}
        <li>
          <strong><a href="{{dokument.link}}">{{ dokument.name }}</a></strong> 
          {{ ", ".join(seiten) }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="leftbar">
    {% if ablauf.abstrakt %}
      <h3>Beschreibung</h3>
      <p>
        {{ ablauf.abstrakt | safe }}
        </p>
    {% endif %}
    <h3>Verlauf</h3>
    <ul class="position-list">
      {% for position in ablauf.positionen %}
        <li class="position">
          <span class="header">
            <span class="date">
              {{position.date.strftime("%d.%m.%Y")}}</span>
            <span class="zuordnung">{{position.zuordnung}} 
              <a name="{{position.key}}" href="{{url_for('position', key=position.key)}}">&para;</a>
            </span>
            <span class="typ">{{position.typ}}</span>
          </span>
          <span class="body">
              {% for beitrag in position.beitraege %}
                <a href="{{ url_for('person', slug=beitrag.person.slug) }}">
                  <img title="{{beitrag.person.name}}: {{beitrag.art}}" class="minipic"
                    src="{{beitrag.person.foto_url or ''}}" height="45px" width="30px"></a>
              {% endfor %}
              {% if position.zuweisungen.count() %}
                <h4>Zuweisung</h4>
                <ul>
                {% for zuweisung in position.zuweisungen %}
                  <li><a href="{{ url_for('gremium', key=zuweisung.gremium.key) }}">
                    {{ zuweisung.gremium.name }}</a>
                    {% if zuweisung.federfuehrung %}
                      (federführend)
                      {% endif %}
                  </li>
                {% endfor %}
                </ul>
              {% endif %}
              {% if position.beschluesse.count() %}
                <h4>Beschluss</h4>
                <ul>
                {% for beschluss in position.beschluesse %}
                  <li>{{beschluss.dokument_text | drslink}}: <strong>{{beschluss.tenor}}</strong></li>
                {% endfor %}
                </ul>
              {% endif %}

          </span>
          <span class="bottom">
            {% if position.debatte %}
              Plenarprotokoll {{position.debatte.sitzung.titel}}, TOP
              <a href="{{ url_for('debatte', wahlperiode=ablauf.wahlperiode,
                nummer=position.debatte.sitzung.nummer,
                debatte=position.debatte.nummer) }}">{{ position.debatte.titel }}</a>
            {% else %}
              {% if position.quelle %}
                {{position.quelle}} &middot;
              {% endif %}
              {% if position.dokument %}
                <a href="{{position.dokument.link}}">{{ position.dokument.name }}</a>
              {% else %}
                {{position.fundstelle}}
              {% endif %}
            {% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="clearfix"></div>
  <hr/>
  <p class="hint">Die dargestellten Daten entstammen dem Dokumentensystem des Bundestags. 
    <a href="{{ ablauf.source_url }}">Quelle</a></p>
  {% endblock %}


