{% extends "layout.html" %}

{% block title %}
  Gremien des Bundestages
{% endblock %}

{% macro gremium_li(g) %}
  <li class="{{g.typ}}">
    <a href="{{ url_for('gremium', key=g.key) }}">
      {{ g.name }}
    </a>
  </li>
{% endmacro %}


{% block content %}
  <div class="banner gremien">
    <h1>Gremien des Bundestages</h1>
  </div>
  <div class="clearfix"></div>
  <p class="hint">
    Die untenstehende Liste von Gremien und Ausschüssen des Bundestages ist 
    unvollständig. Sie enthält nur jene Gruppen, die auf der Webseite des 
    Bundestags genannt sind.
  </p>
  <div class="box">
    <div class="rightbar">
      <ul class="gremien-list">
        {% for g in gremien[::2] %}
          {{ gremium_li(g) }}
        {% endfor %}
      </ul>
    </div>
    <div class="leftbar">
      <ul class="gremien-list">
        {% for g in gremien[1::2] %}
          {{ gremium_li(g) }}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}



