{% import "searches.html" as macros %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block title %}
  {{ gremium.name }} - Gremien
{% endblock %}

{% block content %}
  <h1>{{ gremium.name }}</h1>
  <div class="box">
    <div class="sidebar">
      <h3>Vorsitz</h3>
      <ul>
        {% if gremium.vorsitz %}
        <li><a href="{{ url_for('person', slug=gremium.vorsitz.slug) }}">{{ gremium.vorsitz.name }}</a></li>
        {% endif %}
        {% if gremium.stellv_vorsitz %}
        <li><a href="{{ url_for('person', slug=gremium.stellv_vorsitz.slug)
          }}">{{ gremium.stellv_vorsitz.name }}</a></li>
        {% endif %}
      </ul>
      {% if gremium.obleute[0] %}
        <h3>Obleute</h3>
        <ul>
          {% for p in gremium.obleute %}
            <li><a href="{{ url_for('person', slug=p.slug) }}">{{ p.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if gremium.mitglieder[0] %}
        <h3>Mitglieder</h3>
        <ul>
          {% for p in gremium.mitglieder %}
            <li><a href="{{ url_for('person', slug=p.slug) }}">{{ p.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if gremium.stellvertreter[0] %}
        <h3>Stellv. Mitglieder</h3>
        <ul>
          {% for p in gremium.stellvertreter %}
            <li><a href="{{ url_for('person', slug=p.slug) }}">{{ p.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="mainbar">
      <h3>Abläufe</h3>
      {{ macros.search(searcher, pager) }}
      {{ snippets.ablaeufe(pager) }}
      {{ macros.pager(pager) }}
    </div>
  </div>
{% endblock %}



