{% import "searches.html" as searches %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block title %}
  Was passiert in Bundestag und Bundesrat?
{% endblock %}

{% block script %}
  <script src="http://assets.pudo.org/libs/jit-2.0.1/jit.min.js"></script>
  <script src="{{ url_for('static', filename='js/visualization.js') }}"></script>
  <script>
    $(document).ready(function(){
      init_sachgebiete({{ sachgebiete | tojson | safe }});
    });
  </script>
{% endblock %}


{% block content %}
  <div class="banner home">
    <h1>Was passiert im Bundestag?</h1>
  </div>
      <p class="claim">
        Das OffeneParlament sammelt Informationen über die Arbeit des
        Bundestags und des Bundesrats. Wir machen die Verbindungen 
        zwischen Themen und Akteuren verständlicher.
      </p>
  <div class="row">
    <div class="span8">
      <h3>Abläufe: Gesetze, Anfragen und andere Arbeit.</h3>
      <p>
        Alle Arbeit des Parlaments &mdash; ob Gesetzgebung oder kleine Anfrage
        &mdash; wird in Abläufen zusammengefasst. Sie beschreiben den
        Verlauf aller Tätigkeiten.</p>
      <form class="form-search" method="GET" action="/ablauf">
        <input class="input-medium span6" name="q" value="" 
          placeholder="Abläufe durchsuchen" type="text">
        <input class="btn" type="submit" value="Suchen" />
      </form>
      <h3>Debatten im Plenum</h3>
      <p>Dies waren die Themen im letzten Plenum, der {{ sitzung.titel }}:</p>
      <ul class="debates">
        {% for deb in sitzung.debatten %}
          <li><a href="{{ url_for('debatte.view', wahlperiode=sitzung.wahlperiode,
              nummer=sitzung.nummer, debatte=deb.nummer) }}">{{deb.titel }}</a></li>
        {% endfor %}
      </ul>
      <p>Die Protokolle der vorherigen Sitzungen finden Sie <a href="{{
        url_for('sitzung.index') }}">in der Übersicht</a>.
    </div>
    <div class="span4">
      <h3>Aktuelle Themen</h3>
      <p class="hint">
        Diese Themen wurden in der vergangenen Woche häufiger
        behandelt als sonst.
      </p>
      <ul class="facets">
        {% for c, sw in general %} 
        <li>
          <a href="{{url_for('ablauf.index', schlagworte=sw) }}">{{ sw }}</a>
          <span class="count">+{{c|round(2)}}%</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h3 style="margin-bottom: -1.2em;">Politikfelder pro Kalenderwoche</h3>
      <div id="sachgebiete" style="height: 200px;"></div>
      <p class="hint">
        Atomausstieg, Haushalt oder Sommerpause - zu 
        unterschiedlichen Zeiten sind verschiedene Themen im Zentrum 
        der parlamentarischen Arbeit.
      </p>
    </div>
  </div>

{% endblock %}

