<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Welcome{% endblock %} - OffenesParlament</title>
  <meta name="description" content="A place to collaboratively work on data">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <script src="/static/js/libs/modernizr-1.7.min.js"></script>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/style/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/static/style/style.css?v=2">
  {% block head %} {% endblock %}
</head>
<body>
  <div id="container" class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes site">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    <header class="site">
      <h1 id="site-title"><a href="{{ url_for('index') }}">OffenesParlament</a></h1>
    </header>
    <div id="content" class="site">
      <a href="{{ url_for("ablaeufe") }}">Abläufe</a> &middot; 
      <a href="{{ url_for("persons") }}">Personen</a> &middot;
      <a href="{{ url_for("sitzungen") }}">Plenum</a>
      <br/>
      <br/>
      <!--img src="/static/img/header.png" id="header"-->
      {% block content %}
        - No Content -
      {% endblock %}
      <div class="clearfix"></div>
    </div>
  </div> <!-- eo #container -->
  <footer>
    <div class="site">
      <ul>
        <li><a href="https://github.com/pudo/offenesparlament">Quellcode</a></li>
      </ul>
    </div>
  </footer>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='/static/js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="/static/js/script.js"></script>
  {% block script %} {% endblock %}
  <!-- end scripts-->

  <!--[if lt IE 7 ]>
    <script src="/static/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->

</body>
</html>





