{% extends "layout.html" %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block content %}
  <div class="banner intro">
    <h1>{{page.title}}</h1> 
  </div>

  <div class="row">
    <div class="span4">
      <ul class="nav nav-list">
        <li><a href="/pages/intro">Einleitung</a></li>
        <li><a href="/pages/faq">Häufige Fragen</a></li>
        <li><a href="/pages/declaration">Parlamentarische Offenheit</a></li>
        <li><a href="/pages/daten">Datenzugriff/API</a></li>
        <li><a href="/pages/qualitaet">Datenqualität</a></li>
        <li><a href="/pages/mitmachen">Mitmachen</a></li>
        <li><a href="/pages/kontakt">Team und Kontakt</a></li>
      </ul>
    </div>
    <div class="span8 textual">
      {{ page.html | safe }}
    </div>
  </div>
{% endblock %}

