{% import "searches.html" as macros %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block title %}
  {{ person.name }}
{% endblock %}

{% block content %}
  <div class="sidebar">
    {{ snippets.abo_link(person.fingerprint.strip()) }}
    <div class="clearfix"></div>
    <h3>Person</h3>
    <ul>
      <li><a href="{{url_for('person', slug=person.slug)}}">Zurück zum Profil</a></li>
    </ul>
  </div>
  <div class="mainbar">
    <h1>Abstimmungen: {{ person.name }} 
      {% if person.partei %}
        ({{ person.partei }})
      {% endif %}
    </h1>

    {% if person.stimmen[0] %}
      <ul class="votes-list">
        {% for stimme in person.stimmen|sort(attribute='abstimmung.datum', reverse=True) %}
        <li><h4><strong>{{stimme.entscheidung}}</strong>: 
          <a href="{{ url_for('abstimmung', id=stimme.abstimmung.id) }}">{{
            stimme.abstimmung.titel }}</a> ({{ stimme.abstimmung.datum.strftime('%d.%m.%Y') }})</h4>
        
          <!--p class="hint">{{ stimme.abstimmung.thema }}</p--></li> 
        {% endfor %}
    {% endif %}
  </div>
{% endblock %}



