{% import "searches.html" as macros %}
{% import "snippets.html" as snippets %}
{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block title %}
  {{ person.name }}
{% endblock %}

{% block content %}
  {% if person.foto_url %}
    <div class="person-foto">
      <img src="{{ person.foto_url }}">
      <p>{{ person.foto_copyright }}</p>
    </div>
  {% endif %}
  <div class="sidebar">
    {{ snippets.abo_link(person.fingerprint.strip()) }}
    <div class="clearfix"></div>
    <h3>Details</h3>
    <ul> 
      {% if person.awatch_url %}
        <li class='awatch-link'><a href="{{ person.awatch_url }}">
          <img  src="/static/img/awatch_small.png"> Abgeordnetenwatch</a></li>
      {% endif %}
      {% if person.beruf %}
        <li>Beruf: {{ person.beruf }}</li>
      {% endif %}
      {% if person.homepage_url %}
        <li><a href="{{ person.homepage_url }}">Homepage</a></li>
      {% endif %}
      {% if person.twitter_url %}
        <li><a href="{{ person.twitter_url }}">Twitter</a></li>
      {% endif %}
      {% if person.facebook_url %}
        <li><a href="{{ person.facebook_url }}">Facebook</a></li>
      {% endif %}
      {% if person.bio_url %}
        <li><a href="{{ person.bio_url }}">Bundestag</a></li>
      {% endif %}
      {% if person.stimmen[0] %}
        <li><strong><a href="{{ url_for('person_votes', slug=person.slug)
            }}">Abstimmungsverhalten</a></strong></li>
      {% endif %}
    </ul>
    {% if person.vorsitze[0] or person.stellv_vorsitze[0] or person.obleute[0] or person.mitglied[0] or person.stellvertreter[0] %}
      <h3>Gremien</h3>
      <ul>
        {% if person.vorsitze[0] %}
        <li>Vorsitz
        <ul>
          {% for g in person.vorsitze %}
            <li><a href="{{ url_for('gremium', key=g.key) }}">{{ g.name }}</a></li>
          {% endfor %}
        </ul>
        </li>
        {% endif %}
        {% if person.stellv_vorsitze[0] %}
        <li>Stellvertretung
        <ul>
          {% for g in person.stellv_vorsitze %}
            <li><a href="{{ url_for('gremium', key=g.key) }}">{{ g.name }}</a></li>
          {% endfor %}
        </ul>
        </li>
        {% endif %}
        {% if person.obleute[0] %}
        <li>ObmannIn
        <ul>
          {% for g in person.obleute %}
            <li><a href="{{ url_for('gremium', key=g.key) }}">{{ g.name }}</a></li>
          {% endfor %}
        </ul>
        </li>
        {% endif %}
        {% if person.mitglied[0] %}
        <li>Mitgliedschaften
        <ul>
          {% for g in person.mitglied %}
            <li><a href="{{ url_for('gremium', key=g.key) }}">{{ g.name }}</a></li>
          {% endfor %}
        </ul>
        </li>
        {% endif %}
        {% if person.stellvertreter[0] %}
        <li>Stellvertretung
        <ul>
          {% for g in person.stellvertreter %}
            <li><a href="{{ url_for('gremium', key=g.key) }}">{{ g.name }}</a></li>
          {% endfor %}
        </ul>
        </li>
        {% endif %}
      </ul>
    {% endif %}
    {% if debatten[0] %}
      <h3>Beiträge im Plenum</h3>
      <ul>
        {% for debatte in debatten %}
          <li><a href="{{ url_for('sitzung',
            wahlperiode=debatte.sitzung.wahlperiode,
            nummer=debatte.sitzung.nummer) }}?debatte.titel={{
            debatte.titel }}">
            {{ debatte.sitzung.date.strftime('%d.%m.%Y') }}: 
            {{ debatte.titel }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="mainbar">
    <h1>{{ person.name }} 
      {% if person.partei %}
        ({{ person.partei }})
      {% endif %}
    </h1>
    <ul class="rollen">
      {% for rolle in person.rollen %}
        <li><strong>{{ rolle.funktion }}</strong>
          {% if rolle.wahlkreis %}
          &mdash; {{rolle.wahlkreis.name}} (Wahlkreis {{rolle.wahlkreis.nummer}})
          {% endif %}  
          {% if rolle.ressort %}
            &mdash; {{rolle.ressort}}
          {% endif %}  
          {% if rolle.land %}
            &mdash; {{rolle.land}}
            {% endif %}  
          <sup><a href="{{ url_for('page', path='rollen')
              }}">falsch?</a></sup>
        </li>
      {% endfor %}
    </ul>
    {% if person.bio %}
    <span class="bio-teaser"><br/>{{person.bio_teaser | striptags }} <a>Mehr...</a></span>
    <span class="bio-fulltext">
      <h3>Biografie</h3>
      {{person.bio | safe}}
    </span>
    {% endif %}
    <h3>Themen</h3>
    <div>  
    {% for sw in schlagworte %}
      <a href="{{ url_for('ablaeufe', schlagworte=sw['schlagwort']) }}">
      {{sw['schlagwort']}}</a> 
      <span class="facet-count">({{sw['num']}})</span>{% if not loop.last %},{% endif %}
    {% endfor %}
    </div>
    <!--div class="clearfix"></div-->
    <h3 style="clear: left;">Beiträge zu einzelnen
      Vorgängen</h3>
    {% if not pager.count() %}
      <p class="hint">
        Zu diesem Akteur liegen keine parlamentarischen Abläufe vor.
      </p>
    {% endif %}
    <ul class="position-list">
      {% for position in pager %}
        <li class="position">
          <span class="header">
            <span class="date">
              {{position.date.strftime("%d.%m.%Y")}}</span>
            <span class="zuordnung">{{position.zuordnung}}</span>
            <span class="typ">{{position.typ}}</span>
          </span>
          <span class="ablauf">
            <h4><a href="{{ url_for('position', key=position.key) }}">
                {{position.ablauf.titel}}</a></h4>
          </span>
          <span class="bottom">
            {% if position.ablauf.initiative %}
              {{position.ablauf.initiative }} &mdash; 
            {% endif %}
            {{position.ablauf.typ}}
            {% if position.dokument %}
              &mdash;
              <a href="{{position.dokument.link}}">{{ position.dokument.name }}</a>
            {% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
    {{ macros.pager(pager) }}
  </div>
  <div class="clearfix"></div>
  <hr/>
  <p class="hint"><strong>Hinweis:</strong> Die vom Bundestag bereit gestellten Informationen zu
  den Nebeneinkünften Abgeordneter geben <a
    href="http://blog.abgeordnetenwatch.de/2011/06/07/union-und-fdp-kein-bedarf-an-kompletter-offenlegung-von-nebeneinkunften/">keinen
    klaren Aufschluss</a> über
  das zusätzliche Einkommen und werden daher auf dieser Seite nicht dargestellt.</p>
{% endblock %}


