
{% macro search(searcher, pager) %}
  <form class="form-inline" method="GET" action="{{ pager.url({}) }}">
    <input type="text" class="input-xxlarge" name="q" value="{{ searcher.q }}" autofocus >
    <input class="btn" type="submit" value="Suchen" />
    {% for t, v in searcher.query_filters %}
      <input type="hidden" name="{{ t }}" value="{{ v }}" />
    {% endfor %}
    
    {% if searcher.query_filters %}
      <div>
      Filter: 
        {% for k, v in searcher.query_filters %}
            <a class="label label-important" href="{{ pager.remove_url_state(k, v) }}">{{ v }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </form>
{% endmacro %}

{% macro pager(pager) %}
  {% if pager.pages > 1 %}
  <div class="pagination">
    <ul>
    {% if pager.has_prev %}
      <li>
        <a href="{{ pager.prev_url }}">&laquo; zurück</a>
      </li>
    {% else %}
      <li class="disabled"><a>&laquo; zurück</a></li>
    {% endif %}
    <li class="active">
      <a>{{ pager.page }} von {{ pager.pages }}</a>
    </li>
    {% if pager.has_next %}
      <li>
        <a href="{{ pager.next_url }}">weiter &raquo;</a>
      </li>
    {% else %}
      <li class="disabled"><a>weiter &raquo;</a></li>
    {% endif %}
    </ul>
  </div>
  {% endif %}
{% endmacro %}

{% macro facet_list(searcher, pager, facet, limit=10) %}
  <ul class="facets">
    {% for value, count in searcher.facet_values(facet)[:limit] %}
      {% if (facet, value) not in pager.query_args and value.strip() %}
        <li>
          <a href="{{ pager.add_url_state(facet, value) }}">{{value}}</a> 
          <span class="count">{{count}}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

