
{% macro sitzung_list_inner(sitzung) %}
  <h3><a href="{{ url_for('sitzung.view', wahlperiode=sitzung.wahlperiode,
          nummer=sitzung.nummer) }}">{{ sitzung.titel }}</a></h3>
  <ul>
  {% for d in sitzung.debatten %}
    <li><a href="{{ url_for('debatte.view', wahlperiode=sitzung.wahlperiode,
          nummer=sitzung.nummer, debatte=d.nummer) }}">{{ d.titel.split("TOP",1)[-1] }}</a>
          <!--p>{{d.text|safe}}</p-->
    </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro ablaeufe(pager) %}
  <ul class="search-results ablauf">
    {% for ablauf in pager %}
      <li>
        <h3><a href="{{ url_for('ablauf.view', wahlperiode=ablauf.wahlperiode,
            key=ablauf.key) }}">{{ ablauf.titel }}</a></h3>
        <p>
          <span class="{{ 'abgeschlossen' if ablauf.abgeschlossen else 'laufend' }}">
          {{ ablauf.stand }} 
          </span> ({{ablauf.latest.strftime("%d.%m.%Y")}}) &mdash; 
          <strong>{{ ablauf.typ }}</strong> &mdash; {{ ablauf.initiative or
        ablauf.sachgebiet or ablauf.stand }}</p>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro abo_link(query) %}
  <a class="btn" href="{{url_for('abo.form', query=query)}}"><i
      class="icon-exclamation-sign"></i>Aktivität abonnieren</a>
{% endmacro %}
