
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.4em;

  color: #333;
}

label, input, button, select, textarea {
  font-size: inherit;
  font-weight: 300;
}

code {
  color: #666;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

li {
    margin: 0 0 0.4em;
}

[class^="icon-"], [class*=" icon-"] {
  margin-top: 3px;
  margin-right: 2px;
}

.help-block {
  font-size: 0.9em;
}

header .navbar-inner {
  background-color: #eee;
  background-image: none;
  min-height: 40px;
  padding-top: 7px;
}

header .navbar .brand,
header .navbar .nav > li > a {
  color: #333;
  font-weight: 400;
  text-shadow: none;
}

header .navbar .brand {
  font-weight: 600;
}

footer {
  margin: 1em 0 0 0;
  border-top: 1px solid #e0e0e0;
  padding: 2em 0 0 0;
  background-color: #eee;
}

footer .logo img {
  margin: 0.5em 0 0 0;
}

footer .links {
  list-style-type: none;
  margin: 0.5em 0 2em 0;
}

footer .links li {
  display: inline-block;
  margin: 0 2em 1em 0;
}

footer .pull-right .links li {
  margin: 0 0 1em 2em;
}

#content {
  margin-top: 2em;
}

h3.facets-title {
  font-size: 1.2em;
  line-height: 20px;
  margin-top: 1em;
}

ul.facets {
  list-style-type: none;
  margin: 0;
}

ul.facets .count {
  color: #777;
  font-size: 0.8em;
}

.result-filters {
  margin: 1em 0 0 0;
  font-variant: italic;
}

ul.result-list {
  list-style-type: none;
  margin: 0;
}

ul.result-list h3 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 1em 0 0 0;
}

.banner {
  position: relative;
  margin-bottom: 1em;
  margin-top: -1em;
  width: 940px;
  height: 180px;
}

.banner h1 {
  position: absolute;
  bottom: 1em;
  right: 2em;
  background-color: #fff;
  padding: 1em;
}

.banner.gremien {
  background: url(/static/img/gremien.png);
}

.banner.sitzungen {
  background: url(/static/img/plenum.png);
}

.banner.faq {
  background: url(/static/img/faq.png);
}

.banner.intro {
  background: url(/static/img/intro.png);
}

.banner.ablaeufe {
  background: url(/static/img/ablaeufe.png);
}

.banner.home {
  height: 290px;
  background: url(/static/img/home.png);
}



/* Ablauf view */
table#factsheet th,
table#factsheet td {
  padding-bottom: 1em;
}

table#factsheet th {
  vertical-align: top;
  text-align: left;
  padding-right: 1em;
}


/* Zitate */
.result-list.zitate {
  
}

.result-list.zitate tr td {
  border-bottom: 1px solid #eee;
  vertical-align: top;
  padding: 1em 0 1em 0;
}

.result-list.zitate tr td.speaker {
  padding-left: 0.5em;
}

.result-list.zitate tr.chair td {
  background-color: #eee;
}

.result-list.zitate tr.poi td.text {
  font-style: italic;
}

.result-list.zitate tr td hr {
  border: 0px;
}

