/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #333; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 * Author: Friedrich Lindenberg
 */

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 0.8em;
  background-color: #CBC4A7;
  background: url(/static/img/bg_foot.png);
  line-height: 1.5em;
}

body, input {
  font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif!important; 
}

.container {
  padding: 5em 0 2em 0;
  background-color: #E2DCC5;
  background: url(/static/img/bg_main.png);
  margin: 0px;
}

.site {
  margin: 0 auto;
  width: 960px;
}

#content {
  background-color: white;
  /*background-image: url(/static/img/inner_bg.png);*/
  border: 1px solid #D3CCB0;
  padding: 20px 20px 15px 20px;

  -webkit-box-shadow: 0px 0px 6px 0px #aaa;
          box-shadow: 0px 0px 6px 0px #aaa;
}

.banner {
  margin: -20px;
  position: relative;
  margin-bottom: 1em;
}

.banner h1 {
  position: absolute;
  bottom: 1em;
  right: 2em;
  background-color: #fff;
  padding: 1em;
}

.banner.gremien {
  height: 180px;
  background: url(/static/img/gremien.png);
}

.banner.sitzungen {
  height: 180px;
  background: url(/static/img/plenum.png);
}

.banner.faq {
  height: 180px;
  background: url(/static/img/faq.png);
}

.banner.intro {
  height: 180px;
  background: url(/static/img/intro.png);
}

.banner.ablaeufe {
  height: 180px;
  background: url(/static/img/ablaeufe.png);
}

.banner.home {
  height: 290px;
  background: url(/static/img/home.png);
}

.banner.home h1 {
  right: auto; 
  padding: 0.8em;
  left: 1em;
  bottom: 0.2em;
  font-size: 2.8em;
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-family: "News Gothic MT","Trebuchet MS",Geneva,Helvetica,sans-serif;
  color: #00636A;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h1 {
  font-size: 1.7em;
  line-height: 1.3em;
  color: black;
}

h2 {
  font-size: 1.5em;
}

h3 {
  margin-top: 1em;
  font-size: 1.3em;
}

h4 {
  margin-top: 1em;
}

a, a:visited, a:active {
  color: #036DAA;
  text-decoration: underline;
}

a:hover {
  color: #35672E;
}

footer {
  margin: 10px 0 0 0;
  padding-bottom: 10em;
  color: #666;
  font-size: 0.9em;
}

footer a, footer a:visited {
  color: #666;
}

footer ul {
  list-style-type: none;
  padding: 1em 0 0 55px;
  margin: 0;
}

footer ul li {
  display: inline-block;
  padding-right: 1em;
}

footer .logo {
  display: block;
  float: left;
  padding-right: 2em;
}

.mainbar {
  width: 670px;
  margin-right: 10px;
}

.sidebar {
  float: right;
  width: 265px;
}

.leftbar {
  width: 460px;
  margin-right: 10px;
}

.rightbar {
  width: 460px;
  float: right;
}

.lleftbar {
  width: 460px;
  margin-right: 10px;
  float: left;
}

.lrightbar {
  width: 460px;
  float: right;
}

.halfwidth {
  float: left;
  width: 460px;
  margin-right: 10px;
}

/* Header */
header {
  padding: 5px;
}

h1#site-title {
  margin-bottom: 0.1em;
  font-size: 3.2em;
}

h1#site-title a {
  text-decoration: none;
  font-family: Cochin, Baskerville, Georgia;
  font-weight: bold;
  font-variant: small-caps !important;
  color: #000;
}

ul.menu {
  float: right;
  list-style-type: none;
  margin-top: -3.3em;
  margin-right: -2em;
}

ul.menu li {
  padding: 1em;
  min-width: 6em;
  display: inline-block;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

ul.menu li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
}

p.hint {
  margin-bottom: 1em;
  font-size: 0.9em;
  color: #666;
}

/* Flash messages */

.flashes {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flashes li {
  padding: 1em;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.flashes li.success {
  background-color: #63a62f;
}

.flashes li.warning {
  background-color: #A6632F;
}

.beta-banner {
  position: absolute;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  /*color: #fff;*/
  background-color: #F7D200;  
  -webkit-box-shadow: 0px 0px 6px 0px #666;
          box-shadow: 0px 0px 6px 0px #666;

}

/* Home page */
p.claim {
  color: #666;
  padding-top: 1em;
  font-family: Georgia, serif;
  line-height: 1.5em;
  font-size: 1.4em;
  font-style: italic;
}

#_tooltip {
  color: white;
  background-color: #222;
  padding: 0.3em;
}

ul.debates {
  padding: 1em 0em 1em 1em;
}

/* Ablauf Details */
#factsheet {
}

#factsheet td {
  padding-bottom: 0.5em;
}

#factsheet th {
  text-align: left;
  padding-right: 10px;
}

.abgeschlossen {
  color: green;
  font-weight: bold;
}

.laufend {
  color: orange;
  font-weight: bold;
}

ul.position-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 0.5em;
}

ul.position-list li {
  margin-bottom: 0em;
}

ul.position-list li.position {
  margin-bottom: 2em;
}

ul.position-list .header {
  display: block;
  background-color: #eee;
  border-top: 1px solid #ccc;
  padding: 5px;
}

ul.position-list .header .zuordnung {
  float: right; 
}

ul.position-list h4 {
  margin-top: 0;
}

ul.position-list .header .typ {
  float: right;
  margin-right: 10px;
  font-weight: bold;
}

ul.position-list .body {
  display: block;
  padding: 5px;
}

ul.position-list .ablauf {
  display: block;
  margin-bottom: -5px;
  font-size: 1.2em;
  padding: 5px 5px 0px 5px;
}

ul.position-list .ablauf a {
  font-weight: bold;
  text-decoration: none;
}

ul.position-list .bottom {
  display: block;
  padding: 0 5px 0 5px;
  font-size: 0.8em;
}

ul.position-list .ablauf h3 {
  margin-top: 0em;
}

ul.votes-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 0.5em;
}

ul.votes-list h4 {
  font-weight: normal;
  color: #333;
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

img.minipic {
  background-color: black;
  border: 0;
}

ul.votes-list h4 a {
  text-decoration: none;
}

table.zitate td {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px solid #ddd;
}

table.zitate td.speaker {
  width: 30%;
  font-size: 1.1em;
  padding-left: 1em;
  font-weight: bold;
}

table.zitate td.speaker .meta {
  padding-top: 0.3em;
  font-size: 0.7em;
  color: #666;
}

table.zitate td.text {
  font-family: Georgia, 'Times New Roman', serif;
  padding-left: 1em;
  line-height: 1.4em;
  font-size: 1.2em;
  /*padding-right: 1em;*/
}

table.zitate td.text a {
  text-decoration: none;
}

table.zitate td.text .ablauf-ref {
  color: #999;
  font-size: 0.9em;
}

table.zitate td.text .ablauf-ref a {
  color: #4786AA;
}

table.zitate tr.poi {
  font-size: 0.9em;
}

table.zitate tr.poi td.details {
  font-style: normal;
  padding-right: 0.5em;
}

table.zitate tr td.details a {
  visibility: hidden;
}

table.zitate tr:hover td.details a {
  visibility: visible;
}

table.zitate td.text hr {
  margin: 0;
  border: 0;
  padding-bottom: 0.5em;
  display: block;
}

table.zitate tr.poi {
  font-style: italic;
  background-color: #E9EEF7;
}

table.zitate tr.poi td.speaker {
  font-weight: normal;
}

table.zitate tr.chair {
  background-color: #EAF7E9;
}


/* Persons */

.person-foto {
  float: left;
  margin-right: 1em;
}

.person-foto img {
  height: 200px;
}

.person-foto p {
  font-size: 0.5em;
  color: #666;
  line-height: 1.1em;
  display: block;
  width: 130px;
  overflow: hidden;
  margin-bottom: 0.7em;
}

ul.rollen {
  list-style-type: none;
}

.bio-teaser {
  cursor: pointer;
}

.bio-fulltext {
  display: none;
}

/* Gremien */

ul.gremien-list {
  list-style-type: none;
  margin: 0;
}

ul.gremien-list li {
  min-height: 2.2em;
  padding-bottom: 0.5em;
}

ul.gremien-list li.ausschuss {
  font-weight: bold;
}

ul.gremien-list a {
  display: block;
  font-size: 1.2em;
  text-decoration: none;
}

/* Forms */
form h3 {
  font-weight: normal; 
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

form dl {
  margin-bottom: 0.5em;
}

form dt {
  margin-bottom: 0.2em;
}

form .error-message {
  font-weight: bold; 
  color: red;
}

p.error-message {
  margin-left: 30%;
}

form label {
  font-weight: bold;
}

form p {
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
}

form dt p {
  margin-bottom: 0.2em;
}

form div.field {
  margin-bottom: 1.4em;
}

form div.field label {
  width: 30%;
  display: block;
  float: left;
}

form div.field .hint {
  margin-left: 30%;
  margin-top: 0.1em;
  color: #aaa;
}

form div.field input {
  width: 50%;
}

form input {
  color: #555;
  font-size: 1.1em;
  padding: 0.3em;
  width: 98%;
}

form input[type=checkbox],
form input[type=radio] {
  width: auto;
}

/* cupid green (inspired by okcupid.com)
 * from https://github.com/ubuwaits/css3-buttons/blob/gh-pages/css/buttons.css
*******************************************************************************/
form input[type=submit] {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
}

form input[type=submit]:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#bbbbbb));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

form input[type=submit]:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; 
}

/* Abo/Subscription */
a.abo-link {
  float: right; 
  display: inline-block;
  margin-top: 0.1em;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4em; 
  border: solid 1px #ddd;


  -webkit-border-radius: 5px; 
     -moz-border-radius: 5px; 
          border-radius: 5px;   
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  
}

a.abo-link:hover {
  /*border: solid 1px #333;*/
  background-color: #036DAA;
  color: #fff;
}

a.abo-link img {
  margin-bottom: -7px;
  padding-right: 0.5em;
}

.awatch-link a {
  font-weight: bolder;
  text-decoration: none;
}

.awatch-link a img {
  margin-bottom: -4px;
}

/* Search */
#search-form {
  margin-bottom: 1em;
}

#search-form input {
  font-size: 1.1em;
  margin: 0 0 1em 0;
}

#search-form #search-box {
  width: 70%;
  padding: 0.3em;
  margin-right: 1em;
}

/* Pager */
.pager {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.pager .next {
  float: right; 
}

.pager .prev {
  float: left; 
}

/* Facets */
ul.facets {
  list-style: none;
  margin: 0;
}

ul.facets li {
  font-size: 0.9em;
  padding-bottom: 0.2em; 
}
  
ul.facets .count,
.facet-count {
  color: #999;
  font-size: 0.8em;
}

ul.unfilter-list {
  list-style-type: none;
  margin: 0; 
}

ul.unfilter-list li {
  display: inline;
  font-weight: bold;
  margin-right: 2em;
}

ul.unfilter-list li a {
  color: red;
  text-decoration: none;
}

/* Ablauf SERP */
ul.search-results {
  list-style: none;
  margin: 0;
}

ul.search-results.ablauf li {
  padding-bottom: 1.2em;
}

ul.search-results.ablauf h3 {
  font-size: 1.3em;
  margin-top: 0em;
  margin-bottom: 0.3em;
}

ul.search-results h3 a {
  text-decoration: none;
}

ul.search-results p {
  color: #666;
}

ul.search-results.ablauf h3 a {
  /*color: #333;*/
}

ul.search-results.person p,
ul.search-results.person h3 {
  display: inline;
}

ul.search-results.person p {
  font-size: 0.9em;
}

ul.search-results.person li {
  padding-bottom: 1em;
}

ul.search-results.sitzung li {
  list-style-type: none;
}

ul.search-results.sitzung li a {
  text-decoration: none;
}

ul.search-results.sitzung li p {
  color: #666;
  display: block;
  font-size: 0.8em;
  margin-left: 4em;
}

/** More Boilerplate 
 *
 */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

