<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="deprecation-banner">
      <div class="deprecation-banner__content">
        Diese Website ist Teil eines abgeschlossenen Projekts der Open Knowledge Foundation Deutschland und wird nicht mehr aktualisiert.
        Das gültige Impressum und die Datenschutzerklärung finden sich auf <a href="https://okfn.de/impressum">okfn.de/impressum</a>.
      </div>
    </div>

    {{ content }}

    {% include scripts.html %}

  </body>

</html>
